.logo {
    display: inline-block;
    max-width: 95.25px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 37px;
}

.logo-dot {
    color: #33A2E0;
}